body{
    margin:0;
    font-family:Arial
}

.menu{
    padding:24px 5%;
    text-align:center
}

.logo{
    font-weight:bold;
    display:block;
    margin-bottom:18px;
    text-decoration:none;
    color:#222
}

.menu ul{
    display:flex;
    justify-content:center;
    gap:24px;
    list-style:none;
    padding:0}

.menu a{
    color:#222;
    text-decoration:none}

img{
    height: 153px;
    width: 297px;
    }